*{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
  display: inline-block
}

a{
  text-decoration: none
}

ul{
  display: flex;
  flex-direction: column
}

h1,h2,h3,h4,h5,h6{
  margin: 0
}

@import url("//cdn.web-fonts.ge/fonts/bpg-arial-caps/css/bpg-arial-caps.min.css");

body{
  font-family: "BPG Arial Caps", sans-serif;
  background-color: #F4FFFE;
}

.slick-arrow{
  display: none !important;
}

input, button{
  font-family: "BPG Arial Caps", sans-serif;
}

label::before{
  display: none !important;
}